<div class="banner d-flex justify-content-center flex-column">
  <div class="container justify-content-center d-flex flex-column text-center">
    <div class="h1_titlebox">
      <h1>Our Artists</h1>
    </div>
    <div>
      <form action="/artists" class="d-flex justify-content-center align-items-center search_bar">
        <input type="text" id="search" name="search" class="mr-2" style="height: 40px;">
        <button type="submit"><i class="fas fa-search"></i></button>
      </form>
    </div>
    <div class="art-container">
      <% if @artists.length > 0 %>
        <div class="row">
          <% @artists.each do |artist| %>
            <div class="col-4">
              <%= link_to artist_path(artist) do  %>
                <%= cl_image_tag artist.image.key, class: 'card-artwork w-100 m-3 rounded-circle' %>
              <% end %>
              <div class="art_text">
                <h5><%= artist.name %></h5>
                <p><i class="fas fa-map-marked text-white mr-2"></i><%= artist.location%></p>
              </div>
            </div>
          <% end %>
        </div>
      <% else %>
        <h3>Unfortunately your search returned no results! Try again.</h3>
      <% end %>
    </div>
  </div>
</div>
