.title_box {
  color: lightblue;
  padding: 10px;
  margin: 50px 10px 10px;
}

.art_text {
  text-align: center;
}

.art-container {
  p {
    font-size: 16px;
    color: lightblue;
  }
}

.card-artwork {
  width: 200px;
}
