.title_box {
  color: lightblue;
  padding: 10px;
  margin: 50px 10px 10px;
  margin-bottom: 32px;
}

.artist_text {
  text-align: left;
  color: lightblue;
}

.similar_artwork_image {
  height: 250px;
  object-fit: cover;
  object-position: top;
}
