<div class="banner d-flex justify-content-center flex-column">
  <div class="container justify-content-center d-flex flex-column text-center">
    <div class="title_box">
      <h1>Artlantis | Artworks</h1>
    </div>
    <div class="art-container">
      <div class="row">
        <% @favourites.each do |favourite| %>
          <div class="col-4">
            <div class="m-3">
              <%= link_to art_path(favourite) do %>
              <%= cl_image_tag favourite.art.images[0].key, class:'w-100 p-3 bg-light' %>
              <% end %>
              <div class="art_text">
              <h2><%= favourite.art.name %></h2>
              <p> <strong>Location:</strong> <%= favourite.art.location %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
