<footer class="footer mt-auto">
  <h3 class="">
    Find us on the socials
  </h3>
  <ul class="">
    <li class="">
      <a href="https://www.twitter.com/audreyhandem" target="_blank">
        <i class="fab fa-twitter"></i>
        <!-- target ="blank" opens a new tab with the href -->
      </a>
    </li>
    <li class="">
      <a href="https://www.linkedin.com/audreyhandem" target="_blank">
        <i class="fab fa-linkedin"></i>
      </a>
    </li>
    <li class="">
      <a href="https://www.instagram.com/audreyhandem" target="_blank">
        <i class="fab fa-instagram"></i>
      </a>
    </li>
  </ul>
</footer>
