<div class="d-flex justify-content-center flex-column">
  <div class="py-3 text-center m-5">
    <h1>Welcome to Artlantis</h1>
  </div>
  <div class="text-center w-50 m-auto m-2">
    <p>A world bridging art lovers and undervalued artwork! On Artlantis you can like and collect your favourite digital art pieces. With the potential to connect with new artists.</p>
  </div>
  <div class="mb-3 text-center m-5">
    <%= link_to arts_path do %>
      <div class="btn btn-dark border-white">Browse Artworks!</div>
    <% end %>
    <%= link_to artists_path do %>
      <div class="btn btn-dark border-white">Browse Artists!</div>
    </div>
  <% end %>
</div>
<div class="text-center m-10">
  <h2>This week's top picks</h2>
</div>
<%# how do I change the image? %>
<div class="row mt-5">
  <% @arts.each do |art| %>
    <div class="col-4">
      <div class="mt-8">
        <div class="art_text mt-10">
          <%= link_to art_path(art) do %>
            <%= cl_image_tag art.images[0].key, class: "w-100" %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
