<div class="d-flex justify-content-center flex-column">
  <%= image_tag "background.jpeg", alt: "Le Wagon", class:"rounded mx-auto d-block img-fluid w-80" %>
  <div class="title_box">
    <h1>Welcome to Artlantis</h1>
  </div>
  <div class="simple_text">
    <p>A world bridging art lovers and undervalued artwork! On Artlantis you can like and collect your favourite digital art pieces. With the potential to connect with new artists.</p>
  </div>
  <div class="browse_box">
    <%= link_to "Browse Artlantis!", arts_path %>
  </div>
</div>
<h2>This week's top picks</h2>
<%# how do I change the image? %>
<div class="cards">
  <% @arts.each do |art| %>
    <div class="col-4">
      <div class="m-3">
        <div class="art_text">
          <%= link_to  art_path(art) do %>
            <%= cl_image_tag art.images[0].key, class: 'card-artwork' %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
