
  <div class="banner d-flex justify-content-center flex-column">
    <div class="container justify-content-center d-flex flex-column text-center">
      <%= image_tag "background.jpeg", alt: "Le Wagon", class:"rounded mx-auto d-block img-fluid w-80" %>
      <h1>Welcome to Artlantis</h1>
      <p>Artlantis brings not so well known artwork into the spotlight!</p>
      <a href="#" class="btn-primay">Browse Artlantis!</a>
    </div>
  </div>

class
