<div class="banner d-flex justify-content-center flex-column">
  <div class="container justify-content-center d-flex flex-column text-center">
    <div class="py-3 text-center m-5">
      <div class="h1_titlebox">
        <h1>All Artworks</h1>
        <div class="main__img--container">
          <img src="assets/pic3.svg" alt="art_lover_icon" id="main__img">
        </div>
      </div>
    </div>
    <div class="art-container">
      <div class="row">
        <% @arts.each do |art| %>
          <div class="col-4">
            <div class="m-3">
              <%= link_to art_path(art) do %>
                <%= cl_image_tag art.images[0].key, class:'w-100 p-3 bg-light'%>
              <% end %>
              <div class="art_text">
                <span><%= art.name%></span>
                <p> Price £<%= art.cost%></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
