<div class="banner d-flex justify-content-center flex-column">
  <div class="container justify-content-center d-flex flex-column text-center">
    <%= image_tag "background.jpeg", alt: "Le Wagon", class:"rounded mx-auto d-block img-fluid w-80" %>
    <div class="title_box">
      <h1>Artlantis | Digital Art Platform</h1>
    </div>
    <div class="art-container">
      <div class="row">
        <% count=1 %>
        <% @arts.each do |art| %>
          <div class="column">
            <%= image_tag "art_#{count}.jpg" %>
            <div class="art_text">
              <h3><%= art.description%></h3>
              <h3><%= art.cost%></h3>
            </div>
          </div>
          <% count+=1 %>
        <% end %>
      </div>
    </div>
  </div>
</div>
