.btn-primary {
  color: $white;
  border-color: $white;
  margin-bottom: 5px;
}

.btn-sm {
  background-color: $white;
  display: inline-block;
}

.btn-error {
  color: white;
  background-color: red;
  padding: 8px 24px;
}
