
.button {
  padding: 10px 15px;
  border-radius: 4px;
  color: white;
  border: 1px solid white;
}

.button:hover {
  background-color: lightblue;
  text-decoration: none;
  color: white;
}

.btn-container {
  height: 40px;
}

.icon_fav {
  padding-bottom: 15px;

}

.button-hide {
  display: none;
}
