.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  padding: 16px;
  height: 400px;
}

.card-artist-show-art {
  vertical-align: top;
}

.intro-product {
  display: flex;
  justify-content: center;
  align-items: center;
}

.show-container {
  display: flex;
  margin: 0 auto 32px;
}

.art-container {
  p {
    font-size: 16px;
    color: lightblue;
  }
}

.art-container-grid{
  display: flex;
  flex-wrap: wrap;

}

.art-show-description {
  margin-top: 16px;
  margin-bottom: 16px;
  border-bottom: 2px solid white;
}

.artist-details {
  align-items: center;
}

.artcard-details {
  width: 800px;
  margin-left: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bid-area {
  display: flex;
}
.bid-text {
  width: 75%;
}
.bid-text p {
  margin-bottom: 2px;
}

.card-bottom {
  width: 200px;
  border-radius: 3px;
  box-shadow: 0 0 5px rgb(230, 230, 230);
  text-align: center;
  padding: 20px;
  border: 1px solid rgb(230, 230, 230);
  margin-top: 32px;
}

.other_artworks{
  padding-top: 50px;
}

.card-holder {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-bottom: 32px;
  margin-top: 16px;
  column-gap: 16px;
}

// .medium_backg {
//  background-image: url("https://miro.medium.com/max/1400/1*ztbu4jQVFf6vxZs12OPICw.png");
//  background-size: cover;
// }

.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product-infos h2 {
  font-size: 16px;
  color: black!important;
  font-weight: bold;
  margin: 0;
}

.card-product-infos p {
  font-size: 12px;
  color: black!important;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}
