// Import your components CSS files here.
@import 'alert';
@import 'avatar';
@import 'navbar';
@import 'banner';
@import 'cards';
@import 'footer';
@import 'button';

.search_bar{
  width: 100%;
  max-width: 300px;
  background: rgb(125, 125, 168);
  display: flex;
  align-items: center;
  border-radius: 60px;
  padding:1px 2px;
  margin-left: 5px;
}

.search_bar input {
background: transparent;
flex: 1;
border: 0;
outline: none;
padding: 4.5px 4.5px;
font-size: 10px;
color: #fff;

}

// ::placeholder {
//   color: darkblue;
// }

.search_bar button fa-search {
width: 5px;
}

.search-bar button {
  border: 0;
  border-radius: 70%;
  // width: 60px;
  // height: 60px;
  cursor: pointer;
}
.search_b {
  border-radius: 50%;
  background: white;
}
