.button{
  width: 5cm;
  font-family: sans-serif;
  font-weight: bold;
  color:darkgrey;
  box-shadow: 2px 2px black;
  height: 1.2cm;
  background-color: #FFD400;
}

.button:active{
transform:translate(1px,1px);
}
.button:hover{
  background-color:#C9E3E4;
  box-shadow: 2px 2px black;
}
